parameters:

  level: 4

  paths:
    - rh-acf-frontend-forms.php
    - src/

  scanDirectories:
    - vendor/.wp/core
    - vendor/.wp/plugins/advanced-custom-fields
    - vendor/wp-cli/wp-cli

  ignoreErrors:
