/*
* ACF Field Groups Screen
*/

.acf-columns-2 {
  margin-right: 0;
}
.acf-columns-2 .acf-column-2 {
  display: none;
}

.is-edit-acf-frontend-form {
  /* hide built-in field settings for some fields */
  .acf-field-object-group .acf-field-setting-layout,
  .acf-field-object-repeater .acf-field-setting-layout,
  .acf-field-object-textarea .acf-field-setting-rows,
  .acf-field-setting-ui {
    display: none !important;
  }
  /* hide text editor buttons */
  .acf-field .ed_button {
    display: none;
  }

  .acf-field .ed_button[value="link"],
  .acf-field .ed_button[value="ul"],
  .acf-field .ed_button[value="li"],
  .acf-field .ed_button[value="/li"],
  .acf-field .ed_button[value="close tags"] {
    display: inline-block;
  }

  /* hide setting 'message' if we have a setting 'rich_text_message' */
  .acf-field-setting-rich_text_message + .acf-field-setting-message {
    display: none;
  }
  /* hide default field settings for field "form-review" */
  .acf-field-object-form-review {
    .acf-field-setting-name,
    .acf-field-setting-instructions,
    .acf-field-setting-required,
    .acf-field-setting-conditional_logic,
    .acf-field-setting-wrapper {
      display: none !important;
    }
  }
}
