@import './inc/_vars';
@import './inc/_image-drop';
@import './inc/_error-message';

.acf-input {
  position: relative;
}
.acf-form.rah-is-locked {
  pointer-events: none;
}
.acf-field textarea {
  resize: none;
}
.acf-ajax-response {
  background: $green;
}
.acf-ajax-response.is--error {
  background: $red;
}
